div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium; font-weight: bold;
    color: rgb(205, 9, 9);

}
h1,h2,h3 {
    text-align: center;
    color: darkred;
    text-shadow: 3px 3px 6px rgb(255, 88, 88);
}
table,tr,th,td{
    color:hsl(0, 100%, 50%); background-color: black;
    size: 30px;
    width: 400px; height: 100px; text-align: left; 
    border: solid 3px; border-radius: 10px; border-color: tomato; border-collapse: collapse;
    vertical-align:center; text-align: center;
}

body{
    background-color: rgb(139, 252, 105);
}
p{
    font-size: larger;
}